.main-card-urban .row {
  align-items: center;
  border-bottom: solid black 1px;
  justify-content: left;
  
  /* padding-bottom: 5vh; */
}
.main-card-urban div {
  margin-left: 0.3vw;
  margin-right: 0.5vw;

}