.main-card-urban .row {
  align-items: center;
  border-bottom: solid black 1px;
  justify-content: left;
  
  /* padding-bottom: 5vh; */
}
.main-card-urban div {
  margin-left: 0.3vw;
  margin-right: 0.5vw;

}

#title-header-urban {
  font-weight: bold;
  margin-right: 1vw;
  font-size: 60px;
  margin-bottom: 3vh;
    padding-bottom: 2vh;
    border-bottom: solid 1px;
  }#author {
    font-weight: bold;
     color: #4A4A4A
 }