.main-card .row {
  align-items: center;
  border-bottom: solid black 1px;
  /* padding-bottom: 5vh; */
}

.main-card div {
  margin-left: 0.3vw;
  margin-right: 0.5vw;
}
#title-header {
  font-weight: bold;
  margin-right: 1vw;
  font-size: 60px;
}
#phonetic {
  margin-top: 2vh;
  color: #4A4A4A
}
#part-of-speach{
  margin-top: 2vh;
    font-weight: bold;
    font-size: 15px;
}

#example{
  margin-top: -15px;
  font-size: .8rem;
  font-style: italic;
  color: #4A4A4A ;
}
.main-card-inner{
  margin-left: 1vw;
  

}