.nav-bar-flex{
    align-items: center;
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    width: 40vw;
    margin-left: 10vw;
  
}
.nav-bar-flex input{
    
}

.nav-bar-flex button{
     margin-right: 2vw;
    /* height: 1vh;
    margin-bottom: .7vh;
    margin-top: 0;
    padding-bottom:5vh ;
    border-left: none; */ 
    
}

#search-button .btn{
    border-top-right-radius:  3px; 
    border-bottom-right-radius:  3px; 
    border-top-left-radius:  0px; 
    border-bottom-left-radius:  0px; 

}



#intro{
    text-align: center;
    margin-top: 20vh;
    font-size: 30vh;
}

#quote {
    text-align: center;
    margin-top: 10vh;
    font-size: 3vh;
}

#wordSearch{
    text-align: center;
    margin-top: 20vh;
    font-size: 10vh;

}


